# ----------
# GIT IGNORE
# ----------

# --------------
# COMPOSER FILES
# --------------
composer/vendor
composer/cache
composer/composer.lock

# --------------
# SAML IDP FILES
# --------------
samlidp/certificates/saml.crt
samlidp/certificates/saml.pem
samlidp/logs/samlidp.log

# --------
# OS FILES
# --------
.DS_Store

